<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div style = "text-align:center">     
<h1>
  Welcome To Transaction Module

</h1>
</div>
<nav>
<a routerLink='/debitUsingSlip' routerLinkActive="active"><h3>Debit By Slip</h3></a>
<a routerLink='/creditUsingSlip' routerLinkActive="active"><h3>Credit By Slip</h3></a>
<a routerLink='/debitUsingCheque' routerLinkActive="active"><h3>Debit By Cheque</h3></a>
<a routerLink='/creditUsingCheque' routerLinkActive="active"><h3>Credit By Cheque</h3></a>

</nav>

<router-outlet></router-outlet>